* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  height: 100%;
  overflow: hidden;
}

.score {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.game > ul {
  border: 1px solid #555;
  width: 250px;
  margin: 0 auto;
}

.game > ul > li {
  width: 100%;
  height: 25px;
}

.game > ul > li > ul {
  display: flex;
}

.game > ul > li > ul > li {
  width: 25px;
  height: 25px;
  outline: 1px solid #ccc;
}
.game-text {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 5, 0.7);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 50px;
}

.game-text > button {
  padding: 0.5rem;
  color: #fff;
  background: rgb(230, 138, 138);
  border: none;
  cursor: pointer;
}
.tree {
  background-color: rgb(36, 163, 64);
}
.bar {
  background-color: rgb(25, 6, 59);
}
.square {
  background-color: rgb(185, 156, 28);
}
.elLeft {
  background-color: rgb(32, 3, 3);
}
.elRight {
  background-color: rgb(167, 52, 17);
}
.zee {
  background-color: rgb(17, 82, 167);
}
